.banner{
    width: 100vw;
}

/* .home-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.section1, .section2, .section3, .section4 {
    scroll-snap-align: start;
} */