
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    z-index: 100;
}

.img-btn-menu{
    margin: 7px 20px;
    width: 15px;
}

.cesta{
    width: 25px;
}
button{
    background-color: transparent;
    border: none;
}

ul{
    display: flex;
    align-items: center;
}

li{
    margin: 0 20px;
}

.nav-div{
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo-brave{
    width: 150px;
}

.nav-cart{
    display: flex;
    align-items: center;
}