
.nav{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: fixed;
    justify-content: space-between;
    color: #000;
    background-color: transparent;
    z-index: 100;
}


.img-btn-menu{
    margin: 7px 20px 5px;
    width: 15px;
}
.cesta{
    width: 25px;
}
button{
    background-color: transparent;
    border: none;

}
ul{
    display: flex;
    align-items: center;
}
li{
    margin: 0 20px;
}

.nav-div{
    padding: 15px;
    display: flex;
    align-items: flex-start;
}

.logo-brave{
    width: 230px;
}

.nav-cart{
    display: flex;
    align-items: center;
}